body {
    height: 100vh;
    margin: 0;
    background: linear-gradient( lightcyan, silver);
}

#container {
    background-color: whitesmoke;
    height: 525px;
    width: 360px;
    margin: 100px auto; /* Give the element a margin of 100px on the top and bottom and automatically calculate the left and right margin to center it horizontially. */
    border-radius: 20px; /* Round off the edges of the element. */
    box-shadow: 10px 10px 5px black; /* Box shadow properties: horizontal offset*, vertical offset*, blur, spread, color;  (* required)   */
}

h1 {
    background-color: silver;
    text-align: center;
    border-radius: 20px 20px 0 0;
    padding: 10px 100px;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

p {
    margin-left: 20px;
}

[type="text"], select, label {
    margin-left: 20px;
    font-size: 14px;
}

#billAmt {
    margin-left: 5px;
}

[type="button"] {
    width: 200px;
    height: 50px;
    display: block;
    margin: 30px auto;
    background-color: lightcyan;
    border-radius: 5px;
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
}

[type="button"]:hover, select:hover {
    cursor: pointer;
}

[type="button"]:hover {
    background-color: cyan;
}

[type="text"]:focus, select:focus,[type="button"]:focus {
    border: solid 3px lightcyan;
    outline: none;
}

#tipAmount {
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
}

